
body{
	font-family: 'Roboto Slab', serif;
	background:slategray;
}

.container{
	height:650px;
	width: 1100px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background:maroon;
	padding: 20px;
	border: 1px solid #08038C;
	box-shadow: 0 0 8px 3px #fff;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: orange;
}

.question{
	padding: 20px;
	font-size: 25px;
	background:dimgrey;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
}

.option{
	width: 570px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
	font-size:25px;
}

.option:hover{
	background: orange;
	color: #f6f6f6;
}

.next-btn{
	border: none;
	outline: none;
	background: gray;
	width: 150px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
	font-size: 15px;
}

.next-btn:hover{
	background: orange;
	color: #f6f6f6;
}

.result{
	height: 100px;
	text-align: center;
	font-size: 75px;
}

.option input:checked .option{
	background: #08038C;
	color: #000;
}


.showresult
{
	width: 1200px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background:maroon;
	padding: 20px;
	border: 1px solid #08038C;
	box-shadow: 0 0 8px 3px #fff;
	height: 250px;
	text-align: center;
	font-size: 75px;
	color: #fff;
}























